html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    height: 100%;
    
}

.main-header{
    width: 100%;
    height: 100vh;

    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    position: relative;

}

.navigasi{
    width: 100%;
    height: 60px;
    background-color: #000;
    opacity: 0.70;

    padding-left: 20px;
    padding-top: 20px;
    color: #FFF;
    font-weight: bold;

    display: flex;
    font-family: 'Roboto';
    position: fixed;

}

.menu{
    color: #FFF;
    right: 0;

    overflow: hidden;
    
    margin-left: 100px;
}

a{
    text-decoration: none;
    color: #FFFF;
    margin-right: 20px;
}

.navigasi-kanan li{
    list-style: none;
    float: right;
    margin-left: 100px;
}
.tulisan-utama{
    text-align: center;
    color: #FFFF;
    padding-top: 15%;
    font-size: 75px;
}
.tulisan-kedua{
    font-size:40px;
}
.button{
    font-family: sans-serif;
    font-size: 15px;
    background: #e2af06;
    color: rgb(10, 10, 10);
    padding: 12px 20px;
    margin-top: 50px;
}